@media only screen and (max-width: 1920px) {
        #timer{margin-right: 1%;padding-top:1%}
        #t1{font-size: 1.5rem}

        .sildebar{padding-top:1%}
        .font_size{font-size: 3em;}
}

@media only screen and (max-width: 480px) {

  .easypiechart {
  height: 3rem !important;
  width: 3rem !important;
  line-height: 3rem !important;
  }​

  #t1{font-size: 1.3rem}

  .easypiechart canvas {
  width: 3rem !important;
  height: 3rem !important;
  }​

  .table  .smallerhide {
    display: none;
  }


  .sp span {
    display: block;
  }
  #timer{
    padding-top: 2%;
  }

  .sildebar{padding-top:2%}

  .font_size{font-size: 2em;}

  #menu-content a{padding: 1%;}
}

@media only screen and (max-width: 720px) {
  .smallhide{
    display: none;
  }

  .sildebar{padding-top:1.5%}
}

/*easypiechart*/
.easypiechart {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.easypiechart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/*-------------------*/

.table > thead > tr > th {
     vertical-align: middle;
}

.noBorder th ,.noBorder td{
  border: 0;
}

.bgcolor {
  background-color: rgba(102, 157, 183,0.8);
  color: white;
}

.bordered {
  border: 2px solid #eceeef ;
}

.shadow-lg {
  box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
}

.shadow {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  /*background: #FFF4D2!important;*/
}
.bell-link{
  border: 3px solid #ecee6f ;
  /* background: rgb(43, 43, 40); */
}
/* 導覽列 */

/* 將li的標籤移除,自動斷行  */
.sildebar li{
  list-style-type:none;
  word-break: break-all;
}
/* width / left */
.sildebar{
  width: 300px;
  height: auto;
  position: absolute;
  left:-200px;
  z-index: 999;
}
.collapse_nav,#collapse-exit{
  background: rgb(173, 173, 166);
}


#menu-bar {
    position: absolute;
    margin-right: calc(100% - 100vw);
    width: 180px;
    vertical-align: middle;
    top: 0px;
    bottom: 0px;
    background-color: #7C7C7C;
}

#main {
    position: absolute;
    vertical-align: middle;
    left:200px;
    right:0px;
    top: 0px;
    bottom: 0px;
}

#menu-bar h5{
  text-align: center;
  padding: 1em 1em;
  font-weight:bold;
  background: #292B2C;
  /* background: #292B2C; */
}
#menu-bar li{
  cursor: pointer;
  text-align: center;
  padding: 5px;
  style="font-size: 16px;"
  /* border-width:medium; border-style:dashed; */
}

#menu-bar a{
  text-decoration:none;
  color:white;
}
#menu-content a:hover{color:rgba(13, 13, 14, 0.8);}

/* sidebar-button */
#sidebar-btn {
vertical-align: middle;
width: 40px;
height: 40px;
left:70%;
cursor: pointer;
position: absolute;
background: rgba(17, 17, 16, 0.5);
}

#sidebar-btn span {
  height:3px;
  width:30px;
  position: absolute;
  top: 20%;
  left: 5px;
  background:rgb(247, 246, 245);
  display: block;
}

#sidebar-btn span:nth-child(2) { top: 45%; }

#sidebar-btn span:nth-child(3) { top: 70%; }

/* 返回頂部 */

.backTop{
  position: fixed;
  size: 80px;
  bottom:5%;
  padding-right: 1%;
  right:0;
  z-index: 2;
}

.backTop:hover{
  cursor: pointer;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: overlay;
}



.pagination {text-align: center;}


